.x-logo {
	background-image: url("images/topBg.png");
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0 1px 0 #4e691f;
}

.in-row .x-grid-cell {
	background-color: #FFFFDD;
}

.out-row .x-grid-cell {
	background-color: #CED9E7;
}

.waring-row .x-grid-cell {
	background-color: #FF6A6A;
}

.agree-row .x-grid-cell {
	background-color: #7FFFD4;
}

.noagree-row .x-grid-cell {
	background-color: #FF7F50;
}

.x-logout-button {
	background-image: url('images/logoutBtn.png') !important;
}

.x-mycontent {
	background: url('images/main.png') no-repeat !important;
}

.x-footer {
	text-align: center;
	font-size: 13px;
	padding-left: 20px;
}

#loading {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20000;
	width: 100%;
	height: 100%;
	background-color: #66B3FF;
	text-align: center;
	font-size: 36;
}

#loading img {
	position: relative;
	top:40%;
    width : 150;
	height: auto;
	width: 150;
}